.nav {
    border-bottom: 1px solid #CED2DA;
    padding: 22px 0;
    display: var(--nav-display);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

@media (width <= 992px) {
    .container {
        padding: 0 16px;
        margin: 0;
    }
}