* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

@media (width <= 992px) {
  .container {
      padding: 0 16px;
      margin: 0;
  }
}